{% extends 'base.html' %}

{% block active-blog %}
active
{% endblock %}
{% block title %}
blog | M. Nevole
{% endblock %}

{% block content %}
    <p>
    Articles
    </p>
    {% for object in page_obj %}
        <a href="{% url 'article-detail' object.id %}">
            {{ object.title }}
        </a>
        {% if not object.thumbnail %}
            <p>No thumbnail</p>
        {% endif %}

    {% empty %}
        <p>No articles yet.</p>
    {% endfor %}


    <div class=" pagination justify-content-center ul-padding on-site-button">
        <span class="step-links bg-clr">

            {% if page_obj.has_previous %}
                <a href="?page=1">1</a>
                <a href="?page={{ page_obj.previous_page_number }}"> < </a>
            {% endif %}


                <a href="">{{ page_obj.number }}</a>


            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}"> > </a>
                <a href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages }}</a>
            {% endif %}
        </span>
    </div>
{% endblock %}