body{
    padding-top: 60px;
}

*{
    margin: 0;
    padding: 0;
}

body {
 font-family: 'Cardo', serif;
}

h1, h2, h3, h4, h5, h6 {
 font-family: 'Oswald', sans-serif;
 text-transform: uppercase;
}

.navbar{
    background-color: #252525;
    font-family: 'Oswald', sans-serif;
}

.navbar-brand{
    color: #03a6dc;
    font-weight: bold;
    text-transform: uppercase;
}

.navbar-nav a{
    color: white;
}

.navbar a:hover {
    color: #00dc0d;
}

.active a{
    color: #00dc0d;
}

.navbar-toggler-icon div{
    width: 100%;
    height: 5px;
    background-color: white;
    margin-top: 6px;
}

.navbar-toggler-icon:hover div{
    background-color: #00dc0d;
}

.fullscreen{
    height: 100vh;
}

.left{
    text-align: center;
}

.right{
    text-align: center;
}

.nav-scrolled{
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.59);
}